*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --orange: #f06543;
  --white: #f5f5f5;
  --black: #313638;

  --color-main: #f06543;
  --color-secondary: #3b7554;
  --color-tertiary: #ffd166;

  --margin-base: 1rem;
  --margin-half: calc(var(--margin-base) / 2);
  --margin-normal: var(--margin-base);
  --margin-double: calc(var(--margin-base) * 2);
  --margin-triple: calc(var(--margin-base) * 3);
  --margin-quatra: calc(var(--margin-base) * 4);

  --gap: 12px;
  --gap-xs: 4px;

  --icon-size: 16px;
  --icon-lg: 32px;

  --main-transition: all 0.2s ease;
}

body {
  background: #f6f6f6;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
  background-size: 120px 120px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #313638;
  font-family: "Karla", sans-serif;
}

main {
  flex: 1;
  overflow: hidden;
}

.section {
  padding: var(--margin-quatra) 0;
  min-height: 80vh;
}

.page-width {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) min(60rem - 40px * 2, calc(100% - 40px * 2)) minmax(40px, 1fr);
}

.page-width > * {
  grid-column: 2 / span 1;
}

.container {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--margin-triple);
  padding: 0 var(--margin-double);
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: var(--margin-triple);
  align-items: center;
}

.flex-container .img-cont {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container .img-slider {
  display: block;
}

.flex-container .text-cont {
  width: 70%;
}

.section-heading {
  display: flex;
  flex-direction: column;
}

.section-heading p, .section-heading+p  {
  padding-top: var(--margin-half);
}

footer {
  padding: var(--margin-normal) 0;
}

footer>.container {
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  display: inline-block;
  background-color: var(--white);
  font-size: 12px;
}

.footer-text {
  opacity: .8;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: var(--margin-normal);
}

picture {
  display: block;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  width: 100%;
}
/* ----- TYPOGRAPHY ----- */

h1:has(+ *),
h2:has(+ *),
h3:has(+ *),
h4:has(+ *),
h5:has(+ *),
h6:has(+ *) {
  margin-bottom: var(--margin-half);
}

h2,
h3 {
  font-size: 1.75rem;
}

h2 ~ h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: var(--margin-half);
}

a {
  transition: .2s all ease;
}

a:has(i) {
  background: none;
  color: var(--color-secondary);
}

a:hover {
  text-decoration: none;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

p a, li>a {
  display: inline-block;
  background: var(--color-tertiary);
  color: #313638;
}

.subtitle {
  color: var(--color-main);
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}

/* ----- GENERAL ----- */
.icon-wrapper {
  display: flex;
  width: var(--icon-size);
  height: var(--icon-size);
  justify-content: center;
  align-items: center;
}

.icon-wrapper i, .icon-wrapper svg {
  width: 100%;
  height: auto;
  color: var(--color-secondary);
}

.social-links {
  display: flex;
  gap: var(--gap-xs);
}

.icon-wrapper:has(.social-link) {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.banner > .container {
  height: 100%;
  min-height: inherit;
}

.banner > .flex-container {
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

#skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--margin-triple);
  list-style: none;
}

@media screen and (max-width: 767px) {
  #skills-list {
    grid-template-columns: 1fr;
  }
}

.box-list {
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: var(--margin-normal) var(--margin-double);
}

.box-list li {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

/* .box-list li:before {
  content: "\e139";
  font-family: "Font Awesome 6 Free";
  display: inline-block;
  font-weight: 900;
  margin-right: var(--margin-half);
  color: var(--color-secondary);
} */

.box-list li img,
.box-list li i {
  font-size: 2rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 75px;
  transition: var(--main-transition);
}

.box-list li img:hover,
.box-list li i:hover {
  filter: none;
  color: var(--color-main);
}

/* ----- Sections ----- */
/* .banner {
  overflow: hidden;
  padding: 0;
  min-height: 50vh;
  background: var(--color-main);
  color: #fff;
} */

#banner {
  min-height: 100vh;
}

#banner h1 {
  font-size: 3rem;
}

#banner h2 {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  #banner:after {
    content: "";
    background-image: url(https://hfrosthagen.github.io/portofilo/media/circle-graphic.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 502px;
    z-index: -1;
    right: calc(calc(450px / 2) * -1);
    bottom: calc(var(--margin-quatra) * -1);
  }
}


.project {
  display: flex;
  flex-direction: column;
  gap: var(--margin-double);
}

.project picture {
  border-radius: 8px;
  overflow: hidden;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--margin-normal);
}

/* ----- MOBILE STYLING ----- */
@media screen and (max-width: 767px) {
  #main-banner {
    min-height: 100vh;
  }

  .banner > .flex-container {
    align-items: flex-start;
  }

}

/* ----- ELEMENTS ----- */
.svg-container {
  width: 100%;
  overflow: hidden;
}
.squiggle path {
  stroke: var(--color-main);
  stroke-width: 7px;
}

@media screen and (max-width: 767px) {
  .squiggle {
    width: 200%;
  }
}

/**/
.anchor {
  scroll-margin-top: var(--margin-quatra);
}

